@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Work+Sans:wght@300&display=swap');

html,
body {
    min-height: 100%;
    margin: 0;
}

/* Header and Nav bar */

#logo {

    font-size: 280%;
    margin: auto;
    display: inline-block;
}

#menu {
    float: right;
    list-style-type: none;
    margin-right: 50px;
    font-size: 150%;
    font-family: Libre Baskerville, serif, sans-serif;
}

nav {
    margin: auto;

}

.active {
    text-decoration: underline;
}

li {
    display: inline;
    padding: 15px;
}

header {
    height: auto;

}

header a {
    text-decoration: none;
    color: inherit
}

/* Heading styles */

h1,
h2 {
    font-family: Libre Baskerville, serif, sans-serif;
}

h2 {
    text-align: center;
}

/* Home image */

#home-image {
    background: url(../images/shutterstock_2209508697\ \(1\).jpg) center center no-repeat;
    background-size: cover;
    width: 100%;
    height: 55vh;

}

/* About and Location sections */

#about-us {
    width: 50%;
    font-size: 120%;
    float: left;

    margin: auto;
    box-sizing: border-box;
}

#location {
    width: 50%;
    font-size: 120%;
    float: right;

    box-sizing: border-box;

}

.home-organizer {
    height: 45vh;
}

p {
    font-family: 'Work Sans', sans-serif;
    text-align: center;
}

p a {
    text-decoration: none;
    font-family: inherit;
    color: inherit;
}

/* Map */

iframe {
    width: 100%;
    height: 25vh;
}

/* Social media footer */

#social-media-footer {
    position: sticky;
    left: 0;
    bottom: 0;
    width: 100%;
    height: auto;
    text-align: center;
    font-size: 150%;
    background-color: #6F8D8Fff;
    margin: auto;

}

i {
    padding-top: 15px;
}

footer i {
    color: #0C0A15ff;

}

footer ul {
    padding-left: 0px;
}

/* Sign up page */

#sign-up-image {
    background: url(../images/shutterstock_2114594954.jpg) no-repeat center center;
    background-size: cover;
    width: 100%;
    height: 55vh;
}

#sign-up-text {
    font-size: 120%;
}

.sign-up-form {
    width: 100%;
    height: 45vh;
    background-color: rgba(148, 182, 165, 0.3)
}

/* Gallery */

#gallery-heading {
    visibility: none;
    display: absolute;
}

/*These two following style rules are copied from Love Running */

#gallery-photos {
    clear: both;
    line-height: 0;
    column-count: 2;
    column-gap: 0;
}

#gallery-photos img {
    width: 100%;
}

/* media queries for screen sizes */

/* Changes to center the header to fit smaller screens */

@media screen and (max-width: 1200px) {
    nav {
        text-align: center;
    }

    h1 {
        margin-bottom: auto;
    }

    #menu {
        float: none;
        padding-left: 0px;

        margin: auto;

    }


}

/* Fits images in gallery to smaller screens */

@media screen and (max-width: 1000px) {
    #gallery-photos {
        clear: both;
        line-height: 0;
        column-count: 1;
        column-gap: 0;
    }
}

/* make index.html easier to parse on small screens */

@media screen and (max-width: 850px) {
    #about-us {
        float: none;
        width: 100%;

    }

    #location {
        float: none;
        width: 100%;

    }

    iframe {
        height: 15vh;
    }
}

@media screen and (max-width: 700px) {
    #logo {
        font-size: 200%;
        margin: auto;
    }

    .home-organizer {
        height: auto;
    }
}